
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url('http://themes.googleusercontent.com/static/fonts/orbitron/v3/94ug0rEgQO_WuI_xKJMFc3YhjbSpvc47ee6xR_80Hnw.woff') format('woff');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  src: local('Orbitron-Bold'), url('http://themes.googleusercontent.com/static/fonts/orbitron/v3/Y82YH_MJJWnsH2yUA5AuYbrIa-7acMAeDBVuclsi6Gc.woff') format('woff');
}
@font-face {
  font-family: 'Bowlby One';
  font-style: normal;
  font-weight: normal;
  src: local('Bowlby One'), local('BowlbyOne'), url('http://themes.googleusercontent.com/static/fonts/bowlbyone/v4/xBO3ZdzVBqGO6i8GOIrhUL3hpw3pgy2gAi-Ip7WPMi0.woff') format('woff');
}
@font-face {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: normal;
  src: local('Yellowtail'), url('http://themes.googleusercontent.com/static/fonts/yellowtail/v3/GcIHC9QEwVkrA19LJU1qlL3hpw3pgy2gAi-Ip7WPMi0.woff') format('woff');
}

@font-face {
  font-family: 'Gudea';
  font-style: normal;
  font-weight: 400;
  src: local('Gudea'), url('http://themes.googleusercontent.com/static/fonts/gudea/v1/kfCeUiT0HGXHQC8YVeaKy6CWcynf_cDxXwCLxiixG1c.woff') format('woff');
}
@font-face {
  font-family: 'Gudea';
  font-style: italic;
  font-weight: normal;
  src: local('Gudea Italic'), local('Gudea-Italic'), url('http://themes.googleusercontent.com/static/fonts/gudea/v1/tZZo84E1pZ1XbFCB5vu4pwLUuEpTyoUstqEm5AMlJo4.woff') format('woff');
}
@font-face {
  font-family: 'Gudea';
  font-style: normal;
  font-weight: bold;
  src: local('Gudea Bold'), local('Gudea-Bold'), url('http://themes.googleusercontent.com/static/fonts/gudea/v1/6M2RKly85u67vSsXH0-zqnYhjbSpvc47ee6xR_80Hnw.woff') format('woff');
}

.yellowtail{ font-family: 'Yellowtail', cursive; }
.orbitron{ font-family: 'Orbitron', sans-serif; }
.bowlby{ font-family: 'Bowlby One', cursive; }
.gudea { font-family: 'Gudea', sans-serif; }

html { min-height: 100%; }

body{  font-family: 'Gudea', sans-serif;  position: relative; font-size: 100%; color: #111; position: relative; min-height: 100%; }

.orange { color: #f8971d; }
.clear { clear: both; }

header {width:100%; margin-top:1em;}
header img{margin: 0 auto; max-width:100%;}

h1 { font-size: 3em; text-shadow: 1px 1px 0 #bbb; margin: 0 0 0.6em 0; color: #f8971d; font-weight: normal; font-family:'Yellowtail', cursive;  }

h2 { font-size: 1.2em; text-shadow: 1px 1px 0 #FFFFFF; margin: 10px 0 0; font-weight: normal;  font-family: 'Bowlby One', cursive;  color: #f8971d;}
p{margin:1em 0;}
#wrapper { width: 70%; margin: 0 auto; position: relative; min-height: 100%; }


#main { height: 100%;  position: relative;   }
#main section{ width:90%; margin:2em auto 6em auto; position: relative; padding:5%;background-color:#eee; border-radius:4em;}
#main section div.img-section{position: absolute; right: -32%; top: 0; width: 35%;}
#main section img.img-section { max-width:100%; }
#main #content { width: 85%; }


#menu-principal { text-align: right; width: 12em; position: fixed; top: 30px; left :0; }
#menu-principal ul { list-style-type: none; margin: 4em 6% 0 0;  }
#menu-principal li { margin:  1em; }
#menu-principal a { color: #333; text-decoration: none; font-size: 120%; font-weight: bold; font-style: italic;  }
#menu-principal a.selected { color: #f8971d; }

input[type="text"], textarea {
    -webkit-appearance: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px 0px #dbe2e9, 0 0 0 3px #e4e4e4;
    -moz-box-shadow: inset 0 1px 2px 0px #dbe2e9, 0 0 0 3px #e4e4e4;
    box-shadow: inset 0 1px 2px 0px #dbe2e9, 0 0 0 3px #e4e4e4;
    z-index: 2;
    border: 1px solid #BFBFBF;
    padding: 0.3em;
    width: 90%;
    margin: 0 5% 0 0;
    font-size: 105%;
    position: relative;
    color: #454545;
    display: block;
}

input[type=submit] {
    cursor: pointer;
    margin: 1em 0 1em;
    border: 1px solid #eaeaea;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
    color: white !important;
    display: block;
    font-size: 1em;
    padding: 0.8em;
    font-weight: bold;
    text-decoration: none !important;
    line-height: 1;
    text-shadow: 0 1px 2px #555;
    position: relative;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    -moz-box-shadow: 0 0 0 1px #dc791e, 0 0 0 4px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 0 1px #dc791e, 0 0 0 4px rgba(0,0,0,.1);
    box-shadow: 0 0 0 1px #dc791e, 0 0 0 4px rgba(0,0,0,.1);
    background: -moz-linear-gradient(top, #F8B437, #D87221) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#F8B437), to(#D87221)) !important;
    background: linear-gradient(top, #F8B437, #D87221) !important;    
}

div.form-row { width: 50%; float: left; }
div.form-wide {width: 100%; }

input { display: block;  }
label { font-style: italic; display: block; padding: .4em 0; }
textarea { width: 95%;  margin: 0 5% 0 0; }

.error { color: red; }

.service{
    float:left;
    width:25%;
    text-align:center;
}
.service div.img-service{width:100%;}
.service img.img-service{max-width:100%;}


@media screen and (min-width:1400px){
  #wrapper{width: 50%;}
    
}

