
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url('http://themes.googleusercontent.com/static/fonts/orbitron/v3/94ug0rEgQO_WuI_xKJMFc3YhjbSpvc47ee6xR_80Hnw.woff') format('woff');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  src: local('Orbitron-Bold'), url('http://themes.googleusercontent.com/static/fonts/orbitron/v3/Y82YH_MJJWnsH2yUA5AuYbrIa-7acMAeDBVuclsi6Gc.woff') format('woff');
}


@font-face {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: normal;
  src: local('Yellowtail'), url('http://themes.googleusercontent.com/static/fonts/yellowtail/v3/GcIHC9QEwVkrA19LJU1qlL3hpw3pgy2gAi-Ip7WPMi0.woff') format('woff');
}

.yellowtail{ font-family: 'Yellowtail', cursive; }
.orbitron{ font-family: 'Orbitron', sans-serif; }

.orange { color: #f8971d; }
.clear { clear: both; }

html { }
body{position: relative; font-size: 100%; color: #666666; background:#f6f2e5; font-family: 'Coustard', serif;}
header {width:100%;  }
header img{margin: 35px auto 20px auto; max-width:100%;}
h1 {font-size: 3em;  margin: 0 0 0.6em 0; color: #f8971d; font-weight: normal; font-family:'Yellowtail', cursive;  }
h2 {font-size: 1.2em; margin: 10px 0 0; font-weight: normal;  font-family: 'Bowlby One', cursive;  color: #f8971d;}
p{margin: 0 0 1em 0;}

#wrapper { width: 70%; margin: 0 10% 0 20%;  background:#fff; max-width:700px;}
#main { width:90%; margin: 0 auto;     }

#main section{ clear:both; margin-top:35px; position:relative;}
#main section div.img-section{position:absolute; width: 35%; right:0; margin-right:-15%; /* 28/630  */ }
#main section img.img-section { max-width:100%; }
#main section div.texte{ width:75%; }
#main section p{font-size:0.8em; line-height:1.5em;}

#main .services{clear:both; margin-top:100px;margin-bottom:1em;}
#main .services h2{font-family: 'Francois One', sans-serif; text-align:center; margin-bottom:0.5em; font-size:140%;}
#main .service{float:left; width:23%; margin:0 1%;}
#main .service div.img-service{width:100%; border-radius:10%; overflow:hidden; cursor:pointer;}
#main .service img.img-service{max-width:100%;}
#main .service div.desc-service{width:380%; display:none; height:100px; background-color:#f8971d; border-radius:1em; padding:15%; margin-left:10%;}
#main .service:nth-child(2) div.desc-service{margin-left:-99%;}
#main .service:nth-child(3) div.desc-service{margin-left:-208%;} 
#main .service:nth-child(4) div.desc-service{margin-left:-317%;} 


#main .realisations .item{float: left; width: 23%; margin: 1%;}
#main .realisations .item .vignette{width:100%; border-radius:10%; overflow:hidden; cursor:pointer;}
#main .realisations .item .vignette img{max-width:100%;}
#main .realisations #realisation-screenshot{display:none; width:100%; border-radius:1em; overflow:hidden; clear:both;}
#main .realisations #realisation-screenshot img{max-width:100%; border-radius:1em;}
#main .realisations .item .image img{max-width:100%;}


/*gallerie d'image */
.diaporama .images-principales .image{
    width:100%;
}
.diaporama .images-principales .image img{max-width:100%;}
.diaporama .vignettes .image{
    width: 13%;
}
.diaporama .vignettes .image img{max-width:100%;}
/* fin gallerie d'image */

#menu-principal { text-align: right; width:20%; position: fixed; top: 30px; left :0; }
#menu-principal ul { list-style-type: none; margin: 4em 6% 0 0;  }
#menu-principal li { margin:  1em; }
#menu-principal a { color: #333; text-decoration: none; font-size: 120%; font-weight: bold;   }
#menu-principal a.selected { color: #f8971d; }

input[type="text"], textarea {
    -webkit-appearance: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px 0px #dbe2e9, 0 0 0 3px #e4e4e4;
    -moz-box-shadow: inset 0 1px 2px 0px #dbe2e9, 0 0 0 3px #e4e4e4;
    box-shadow: inset 0 1px 2px 0px #dbe2e9, 0 0 0 3px #e4e4e4;
    z-index: 2;
    border: 1px solid #BFBFBF;
    padding: 0.3em;
    width: 90%;
    margin: 0 5% 0 0;
    font-size: 105%;
    position: relative;
    color: #454545;
    display: block;
}

input[type=submit] {
    cursor: pointer;
    margin: 1em 0 1em;
    border: 1px solid #eaeaea;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
    color: white !important;
    display: block;
    font-size: 1em;
    padding: 0.8em;
    font-weight: bold;
    text-decoration: none !important;
    line-height: 1;
    text-shadow: 0 1px 2px #555;
    position: relative;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    -moz-box-shadow: 0 0 0 1px #dc791e, 0 0 0 4px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 0 1px #dc791e, 0 0 0 4px rgba(0,0,0,.1);
    box-shadow: 0 0 0 1px #dc791e, 0 0 0 4px rgba(0,0,0,.1);
    background: -moz-linear-gradient(top, #F8B437, #D87221) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#F8B437), to(#D87221)) !important;
    background: linear-gradient(top, #F8B437, #D87221) !important;    
}

div.form-row { width: 50%; float: left; }
div.form-wide {width: 100%; }

input { display: block;  }
label { font-style: italic; display: block; padding: .4em 0; }
textarea { width: 95%;  margin: 0 5% 0 0; }

.error { color: red; }







@media screen and (min-width:1400px){
  #wrapper{width: 50%;}
    
}

