header {}

h1 { font-size: 3em; text-shadow: 1px 1px 0 #FFFFFF; margin-top: 15px; color: #000; font-weight: normal;  }
h2 { font-size: 1.2em; text-shadow: 1px 1px 0 #FFFFFF; margin: 10px 0 0; font-weight: normal; }

#wrapper { width: 800px; margin: 0 auto; position: relative; min-height: 100%; }


#main { background-color: #eaeaea; height: 100%;  position: relative;   }
#main section{ padding: 5%; position: relative;}
#main section img { position: absolute; right: -370px; top: 0; width: 350px; }
#main #content { width: 60%; }

#menu-principal { text-align: right; width: 12em; position: fixed; top: 30px; left :0; }
#menu-principal ul { list-style-type: none; margin: 4em 6% 0 0;  }
#menu-principal li { margin:  1em; }
#menu-principal a { color: #333; text-decoration: none; font-size: 120%; font-weight: bold; font-style: italic;  }

